Repository pretzelai/pretzelai, pull requests merged in 2024-07, with the labels that each got.

#109 Make sidebar interface the same as AI Prompt Box and improve UX.
  README.md
  packages/pretzelai-extension/src/PretzelInlineProvider.ts
  packages/pretzelai-extension/src/chat.tsx
  packages/pretzelai-extension/src/chatAIUtils.ts
  packages/pretzelai-extension/src/components/AIAssistantComponent.tsx
  packages/pretzelai-extension/src/components/DiffButtonsComponent.tsx
  packages/pretzelai-extension/src/components/DiffComponent.tsx
  packages/pretzelai-extension/src/index.tsx
  packages/pretzelai-extension/src/splashScreen.tsx
  yarn.lock
Labels: documentation, pkg:pretzelai

#115 Better settings page and new future proof settings schema
  packages/pretzelai-extension/package.json
  packages/pretzelai-extension/schema/plugin.json
  packages/pretzelai-extension/src/PretzelInlineProvider.ts
  packages/pretzelai-extension/src/chat.tsx
  packages/pretzelai-extension/src/chatAIUtils.ts
  packages/pretzelai-extension/src/components/AIAssistantComponent.tsx
  packages/pretzelai-extension/src/components/PretzelSettings.tsx
  packages/pretzelai-extension/src/index.tsx
  packages/pretzelai-extension/src/migrations/defaultSettings.ts
  packages/pretzelai-extension/src/migrations/migrate_1_0_to_1_1.ts
  packages/pretzelai-extension/src/migrations/migrations.ts
  packages/pretzelai-extension/src/migrations/providerInfo.ts
  packages/pretzelai-extension/src/prompt.ts
  packages/pretzelai-extension/src/utils.tsx
  packages/pretzelai-extension/tsconfig.json
  yarn.lock
Labels: pkg:pretzelai

#118 Added anthropic models
  packages/pretzelai-extension/src/PretzelInlineProvider.ts
  packages/pretzelai-extension/src/chat.tsx
  packages/pretzelai-extension/src/chatAIUtils.ts
  packages/pretzelai-extension/src/components/AIAssistantComponent.tsx
  packages/pretzelai-extension/src/components/PretzelSettings.tsx
  packages/pretzelai-extension/src/index.tsx
  packages/pretzelai-extension/src/migrations/migrate_1_0_to_1_1.ts
  packages/pretzelai-extension/src/migrations/providerInfo.ts
  packages/pretzelai-extension/src/prompt.ts
  packages/pretzelai-extension/src/utils.tsx
  pyproject.toml
  yarn.lock
Labels: pkg:pretzelai

#119 Add ollama support
  buildutils/src/ensure-repo.ts
  packages/notebook/src/actions.tsx
  packages/pretzelai-extension/src/PretzelInlineProvider.ts
  packages/pretzelai-extension/src/chat.tsx
  packages/pretzelai-extension/src/chatAIUtils.ts
  packages/pretzelai-extension/src/components/AIAssistantComponent.tsx
  packages/pretzelai-extension/src/components/PretzelSettings.tsx
  packages/pretzelai-extension/src/index.tsx
  packages/pretzelai-extension/src/migrations/migrate_1_0_to_1_1.ts
  packages/pretzelai-extension/src/migrations/providerInfo.ts
  packages/pretzelai-extension/src/utils.tsx
  yarn.lock
Labels: pkg:pretzelai, pkg:notebook

#120 Refactor settings and add JupySQL postgres support
  packages/pretzelai-extension/src/components/PretzelSettings.tsx
  packages/pretzelai-extension/src/index.tsx
  packages/pretzelai-extension/src/migrations/migrate_1_0_to_1_1.ts
  pyproject.toml
Labels: pkg:pretzelai
