Repository pretzelai/pretzelai, pull requests merged in 2024-06, with the labels that each got.

#95 Convert Input Elements to React and add Prompt History Support
  .github/workflows/enforce-label.yml
  .github/workflows/license-header.yml
  package.json
  packages/pretzelai-extension/package.json
  packages/pretzelai-extension/src/chatAIUtils.ts
  packages/pretzelai-extension/src/components/InputField.tsx
  packages/pretzelai-extension/src/components/prompt-box-buttons.tsx
  packages/pretzelai-extension/src/index.tsx
  packages/pretzelai-extension/src/prompt.tsx
  packages/pretzelai-extension/src/splashScreen.tsx
  packages/pretzelai-extension/src/svg.d.ts
  packages/pretzelai-extension/src/utils.ts
  packages/pretzelai-extension/style/base.css
  packages/pretzelai-extension/style/icons/prompt-history.svg
  packages/pretzelai-extension/tsconfig.json
  packages/pretzelai-extension/typedoc.json
  yarn.lock
Labels: pkg:pretzelai, Design System CSS, tag:CSS

#96 Chat improvements
  .gitignore
  packages/pretzelai-extension/src/chat.tsx
  packages/pretzelai-extension/src/chatAIUtils.ts
  packages/pretzelai-extension/src/code-blocks/code-toolbar.tsx
  packages/pretzelai-extension/src/code-blocks/copy-button.tsx
  packages/pretzelai-extension/src/mui-extras/contrasting-tooltip.tsx
  packages/pretzelai-extension/src/mui-extras/tooltipped-icon-button.tsx
  packages/pretzelai-extension/src/rendermime-markdown.tsx
  packages/pretzelai-extension/style/base.css
  packages/pretzelai-extension/style/icons/replace-cell.svg
Labels: pkg:pretzelai, Design System CSS, tag:CSS

#97 Migrate the whole extension to React + big refactor. Added tooltips and shortcuts.
  packages/pretzelai-extension/src/chat.tsx
  packages/pretzelai-extension/src/components/AIAssistantComponent.tsx
  packages/pretzelai-extension/src/components/DiffButtonsComponent.tsx
  packages/pretzelai-extension/src/components/DiffComponent.tsx
  packages/pretzelai-extension/src/components/InputComponent.tsx
  packages/pretzelai-extension/src/components/prompt-box-buttons.tsx
  packages/pretzelai-extension/src/index.tsx
  packages/pretzelai-extension/src/prompt.tsx
  packages/pretzelai-extension/src/utils.ts
  packages/pretzelai-extension/src/utils.tsx
  packages/pretzelai-extension/style/base.css
  yarn.lock
Labels: pkg:pretzelai, Design System CSS, tag:CSS

#98 Move embeddings and chat history to .pretzel folder
  .gitignore
  packages/pretzelai-extension/src/chat.tsx
  packages/pretzelai-extension/src/components/DiffButtonsComponent.tsx
  packages/pretzelai-extension/src/utils.tsx
  yarn.lock
Labels: pkg:pretzelai

#101 Improve prompts, add @variable syntax and allow it to match arrays and object properties
  buildutils/src/ensure-repo.ts
  packages/markedparser-extension/src/index.ts
  packages/pretzelai-extension/src/components/AIAssistantComponent.tsx
  packages/pretzelai-extension/src/components/DiffButtonsComponent.tsx
  packages/pretzelai-extension/src/components/DiffComponent.tsx
  packages/pretzelai-extension/src/components/InputComponent.tsx
  packages/pretzelai-extension/src/prompt.tsx
  packages/pretzelai-extension/src/utils.tsx
  packages/pretzelai-extension/style/base.css
  yarn.lock
Labels: pkg:pretzelai, Design System CSS, tag:CSS

#102 Readme update for v4.2.5
  README.md
  assets/main.png
  assets/pretzel-icon-finder.png
  assets/settings-openai-key.png
Labels: documentation

#103 Inline ai completion
  package.json
  packages/pretzelai-extension/package.json
  packages/pretzelai-extension/schema/plugin.json
  packages/pretzelai-extension/src/PretzelInlineProvider.ts
  packages/pretzelai-extension/src/index.tsx
  packages/pretzelai-extension/src/utils.tsx
  packages/pretzelai-extension/tsconfig.json
  yarn.lock
Labels: pkg:pretzelai, Design System CSS, tag:CSS, tag:Examples, tag:Testing, pkg:application, pkg:apputils, pkg:cell-toolbar, pkg:celltags, pkg:codemirror, pkg:completer, pkg:console, pkg:csvviewer, pkg:debugger, pkg:docmanager, pkg:documentsearch, pkg:extensionmanager, pkg:filebrowser, pkg:fileeditor, pkg:help, pkg:htmlviewer, pkg:hub, pkg:imageviewer, pkg:inspector, pkg:launcher, pkg:logconsole, pkg:lsp, pkg:mainmenu, pkg:markdownviewer, pkg:mathjax, pkg:mermaid, pkg:metadataform, pkg:notebook, pkg:property-inspector, pkg:pluginmanager, pkg:rendermime, pkg:running, pkg:settingeditor, pkg:shortcuts, pkg:statusbar, pkg:terminal, pkg:themes, pkg:toc, pkg:tooltip, pkg:translation, pkg:ui-components, pkg:workspaces
